h1{
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: robotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: robotoBold;
    src: url('../fonts/Roboto-Bold.ttf');
}