body{
    background-color: rgb(240, 240, 240) ;
}

.restOfThePage{
    margin-left: 15%;
    width: 85%;
}
.side-nav{
    font-family: "robotoBold", sans-serif;
    width: 15%;
    min-width: 15%;
}

.logoContainer{
    height: 20%;
    margin-top: 10%;
    margin-bottom: 30%;
}

.logoImage{
    width: 108px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.side-nav{
    box-shadow: 5px 0px 15px rgba(0,0,0,0.3);
}
.side-nav .logoContainer :hover {
    background-color: rgba(0,0,0,0);
}

.navHeading{
    margin-left: 3.5%;
}

#logoutButtonForm{
    padding-top: 30px;
}

.brand-logo{
    font-family: "robotoLight", sans-serif;
}

.normalListItem:hover{
    background-color: rgba(0,0,0, 0.2);
    transition: all .3s ease-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}

.side-nav li.active {
    background-color: rgba(0,0,0,0.2);
}

.welcomeUserText{
    padding: 7%;
    border-radius: 30px;
}

.addButton{
    font-family: "robotoLight", sans-serif;
    font-size: 2.5em;
}

.userCard{
    height: 100px;
    width: 40%;
    margin-left: 60%;
}

#addProjectModal{
    width: 50%;
    padding: 0;
}

#addBugModal{
    width: 50%;
    padding: 0;
}

.modalHeader{
    font-family: "robotoLight", sans-serif;
    margin-left: 0.75rem;
}

.formContainer{
    margin-top: 5%;
}

.input-field label {
    color: rgb(255,255,255);
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgb(255,255,255);
}

.input-field label:focus{
    color: rgb(255,255,255);
}

textarea.materialize-textarea{
    font-family: "robotoBold", sans-serif;
}

.addFooterButton{
    font-family: "robotoBold", sans-serif;
}

.viewForm{
    margin-bottom: 0;
}

.projectCardsContainer {
    margin-right: 5%;
    padding-left: 0.5%;
    padding-right: 2%;
    padding-top: 1.5%;

}

.projectCard{
    width: 31.5%;
    display: inline-block;
    margin-left: 1.5%;
    vertical-align: top;
}

.card .card-title{
    font-size: 3vmin;
}

.card--visible-overflow {
    overflow: visible !important;
}

.dynamicViewProjectViewOptions li{
    list-style-type: none;
    font-family: "robotoBold", sans-serif;
}

.expandListForm{
    margin: 0;
}

@font-face {
    font-family: robotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: robotoThin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: robotoBold;
    src: url('../fonts/Roboto-Bold.ttf');
}